// $font: "Open Sans", sans-serif;
@font-face {
  font-family: PlusJakartaSans;
  src: url(.././../../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf)
    format("truetype");
}

$font: "PlusJakartaSans", sans-serif;
